
<div class="container">
<%for(var i=0;i<kullanicilar.length;i++){%>

<div class="row">
        <div class="col-md-6">
                <%=kullanicilar[i].kullaniciAdi%>
        </div>
        <div class="col-md-6">
                <%=kullanicilar[i].sifre%>
        </div>
</div>


<%}%>
<%=kullanicilar[0].kulaciAdi%>
</div>