<div class="panel panel-default">
  <div class="panel-heading">Başlıksız panel üst metni</div>
  <div class="panel-body">
    Panel içeriği
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Panel başlığı</h3>
  </div>
  <div class="panel-body">
    Panel içeriği
  </div>
</div>
    <form action="/" >

          <div class="navbar-fixed-bottom panel-footer clearfix">
            <div class="col-md-10">

            <textarea class="form-control" id="m" autocomplete="off" rows="3"></textarea>
            </div>
            <div class="col-md-2">

            <input type="submit" class="btn btn-success" value="Gönder"/>
            </div>
          </form>